{% extends 'base.html' %}
{% block title %}Resultados{% endblock %}
{% block content %}
<h2>Datos Guardados</h2>

<h3>TXT:</h3>
<ul>
{% for linea in txt %}
    <li>{{ linea }}</li>
{% endfor %}
</ul>

<h3>JSON:</h3>
<ul>
{% for item in json_data %}
    <li>{{ item.nombre }} - {{ item.email }}</li>
{% endfor %}
</ul>

<h3>CSV:</h3>
<ul>
{% for row in csv_data %}
    <li>{{ row[0] }} - {{ row[1] }}</li>
{% endfor %}
</ul>

<h3>SQLite:</h3>
<ul>
{% for usuario in usuarios %}
    <li>{{ usuario.nombre }} - {{ usuario.email }}</li>
{% endfor %}
</ul>

{% endblock %}
